body {
  background-color: rgb(166, 49, 170);
  color: rgb(255, 220, 66);
  font-family: 'Staatliches', cursive, sans-serif;
  font-weight: 600;
  margin: 0px;
}

.container,
.container-fluid,
.row {
  margin: 0;
  padding: 0;
}

.main-image {
  box-sizing: content-box;
  background-size: cover;
  box-shadow: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.main-image h1 {
  text-align: center;
  font-weight: 800;
  font-size: 6em;
  margin-bottom: 0px;
  margin-top: 10px;
}

.games>div {
  border: 1px solid rgb(49, 29, 49);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.imagenes {
  max-width: 50%;
  max-height: 70%;
  border-radius: 10%;
}

.shop {
  background-color: rgb(255, 220, 66);
  color: black;
  margin-top: 4px;
  margin-bottom: 10px;
  box-shadow: rgb(66, 70, 66);
  border-radius: 5px;
  max-width: 90px;
  min-width: 80px;
}

.product-name {
  font-size: 1.5em;
  color: white;
}

.price {
  font-size: 2.5em;
  color: rgb(204, 158, 9);
}

.description {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 50%;
}

@media only screen and (min-width: 576px) {
  .column-1 {
    text-align: right;
  }

  .column-2 {
    text-align: left;
  }
}

.customer {
  padding-top: 20px;
}

.customer h1 {
  font-size: 3em;
  text-align: center;
  margin: 0px;
  color: rgb(215, 223, 145);
}

.contact-card {
  text-align: center;
}

.delivery {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: 2em;
  padding: 30px 10px;
}

select {
  font-size: 20px;
  padding: 5px;
  background-color: hsl(33, 8%, 79%);
  max-width: 240px;
}

input {
  font-size: 20px;
  padding: 5px;
  width: 240px;
}

.campoNumerico {
  width: 240px;
  background-color: #cecac5;
  text-align: right;
}

.error {
  color: red;
  font-size: 1.5rem;
}

.agregar {
  height: 50px;
  width: 130px;
  background-color: rgb(255, 220, 66);
  color: black;
  padding-bottom: 5px;
  margin-top: 10px;
  box-shadow: rgb(66, 70, 66);
  border-radius: 5px;
  font-weight: bold;
}

.button {
  background-color: rgb(255, 220, 66);
  color: black;
  margin-top: 4px;
  box-shadow: rgb(66, 70, 66);
  border-radius: 5px;
  font-weight: bold;
}

.pedido-final {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.finalizar-pedido {
  width: 80%;
  background-color: #1f1d1d;
  color: rgb(215, 223, 145);
}

.total {
  color: rgb(255, 220, 66);
  font-size: 20px;
}

.monto {
  color: rgb(255, 220, 66);
  font-size: 20px;
}

.items {
  color: rgb(255, 220, 66);
  font-size: 18px;
}

.icono-eliminar {
  color: red;
  cursor: pointer;
}

.finalizar {
  height: 50px;
  background-color: rgb(255, 220, 66);
  color: black;
  padding-bottom: 5px;
  margin-top: 10px;
  box-shadow: rgb(66, 70, 66);
  border-radius: 5px;
  font-weight: bold;
}

.footer{
  background-color: #89119D;
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__text{
  font-family: 'Staatliches', cursive;
  text-align: center;
  font-size: 2.2rem;
}